<div class="well docs-menu col-xs-12 col-sm-4 col-md-3">
    {% include search_form.html %}
    <ul class="nav nav-list">
        <li>
            <a href="{{ site.baseurl }}/">Introduction</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/pages/01_embedding_and_jsapi">Embedding Tableau Views</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/pages/02_auth_and_sso">Authentication and Single Sign-On</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/pages/03_server_management_and_restapi">User Management, Content Management & Display with the REST API</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/pages/04_multitenancy_and_rls">Multi-Tenancy and Row-Level Security</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/pages/05_embedding_in_other_apps">Embedding in Sharepoint, Salesforce, and Mobile Apps</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/pages/06_embedding_non_view_content">Embedding Analytics Experiences</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/pages/07_development_and_deployment">Development and Deployment</a>
        </li>
    </ul>
</div>
