<header class="site-header">
  <div class="wrapper">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand navbar-brand-logo" href="{{ site.baseurl }}/#">Tableau Embedding Playbook</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a target="_blank" href="https://community.tableau.com/s/topic/0TO4T000000QFAHWA4/embedding">Forums</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="tableauIcon"><a target="_blank" href="https://tableau.com"><img src="{{ site.baseurl }}/img/logo.png" alt="Tableau Developers" class="logo" /></a></li>
            <li><a target="_blank" href="https://github.com/tableau/embedding-playbook"><span class="icon icon--github" title="Embedding Playbook on GitHub" alt="Embedding Playbook on GitHub">{% include icon-github.svg %}</span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
  </div>
</header>
